<!DOCTYPE html>
<html lang="hu" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="modal/css/main.css">
<link  rel="stylesheet" type="text/css" href="modal/vendor/bootstrap/css/bootstrap.min.css">
<link  th:href="@{css/selector.css}" rel="stylesheet" type="text/css" href="selector.css">
<body> 
<header lang="en" th:include="mainheader"> </header>    
<div class="row">
<div class="col-md-4"></div>
<div class="col-md-4">   
<div class="container-login100-form-btn">
<button class="login100-form-btn margin" onclick="location.href='userreg.html'">Álláskerső regisztráció</button>
</div>
</div>     
<div class="col-md-4"></div>      
</div> 
<div class="row">
<div class="col-md-4"></div>
<div class="col-md-4">   
<div class="container-login100-form-btn">
<button class="login100-form-btn margin1" onclick="location.href='companyreg.html'">Cég regisztráció</button>
</div>
</div>     
<div class="col-md-4"></div>      
</div>    
</body>
</html> 