<!DOCTYPE html>
<html lang="hu">

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
<link rel="stylesheet" href="style/slider-def.css">
<link rel="stylesheet" href="front.css">
<link href="https://fonts.googleapis.com/css?family=Lato"
	rel="stylesheet">
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>



<style>
#name {
	border-style: solid;
	text-align: center;
}

#description {
	border-style: solid;
	text-align: center;
	border-top: none;
}

#payment {
	border-style: solid;
	text-align: center;
	border-top: none;
}

#timestamp {
	border-style: solid;
	text-align: center;
	border-top: none;
}

#row {
	margin-top: 10%;
}

#searchrow {
	margin-top: 10%;
}

input[type=text] {
	width: 100%;
	height: 100%;
	background-color: white;
	font-size: 250%;
	text-align: center;
}

input[type=text]:focus {
	border: 3px solid #1478a0;
}

#valami {
	color: black;
}

#table{
	border-style: solid;	
}




</style>
<header lang="en" th:include="loggedheadermoderator"> </header>
<body>

	<div class="row" id="row">
		<div class="col-md-4"></div>
		<div class="col-md-4" id="name">
			<h3 id="valami">Átlagfizetés szakmánként</h3>
		</div>
		<div class="col-md-4"></div>
	</div>
	
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-2" id="table"><h4>Szakma neve</h4></div>
		<div class="col-md-2" id="table"><h4>Átlag bér</h4></div>
		<div class="col-md-4"></div>
	</div>
	
	<article th:each="a1 :${model1}">
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-2" id="table"><h5 th:text="${a1.megnevezes}"></h5></div>
			<div class="col-md-2" id="table"><h5 th:text="${a1.value} + '  Ft'"></h5></div>
			<div class="col-md-4"></div>
		</div>
	
	</article>

<div class="row" id="row">
		<div class="col-md-4"></div>
		<div class="col-md-4" id="name">
			<h3 id="valami">Átlagfizetés Városonként</h3>
		</div>
		<div class="col-md-4"></div>
	</div>
	
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-2" id="table"><h4>Város neve</h4></div>
		<div class="col-md-2" id="table"><h4>Átlag bér</h4></div>
		<div class="col-md-4"></div>
	</div>
	
	<article th:each="a1 :${model9}">
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-2" id="table"><h5 th:text="${a1.megnevezes}"></h5></div>
			<div class="col-md-2" id="table"><h5 th:text="${a1.value} + '  Ft'"></h5></div>
			<div class="col-md-4"></div>
		</div>
	
	</article>

	<div class="row" id="row">
		<div class="col-md-4"></div>
		<div class="col-md-4" id="name">
			<h3 id="valami">10 Legkeresettebb szakma</h3>
		</div>
		<div class="col-md-4"></div>
	</div>
	
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-2" id="table"><h4>Szakma neve</h4></div>
		<div class="col-md-2" id="table"><h4>DB</h4></div>
		<div class="col-md-4"></div>
	</div>
	
	<article th:each="a1 :${model2}">
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-2" id="table"><h5 th:text="${a1.megnevezes}"></h5></div>
			<div class="col-md-2" id="table"><h5 th:text="${a1.value} "></h5></div>
			<div class="col-md-4"></div>
		</div>
	
	</article>

	<div class="row" id="row">
		<div class="col-md-4"></div>
		<div class="col-md-4" id="name">
			<h3 id="valami">Maximum fizetés szakmánként</h3>
		</div>
		<div class="col-md-4"></div>
	</div>
	
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-2" id="table"><h4>Szakma neve</h4></div>
		<div class="col-md-2" id="table"><h4>Max bér</h4></div>
		<div class="col-md-4"></div>
	</div>
	
	<article th:each="a1 :${model3}">
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-2" id="table"><h5 th:text="${a1.megnevezes}"></h5></div>
			<div class="col-md-2" id="table"><h5 th:text="${a1.value} + '  Ft'"></h5></div>
			<div class="col-md-4"></div>
		</div>
	
	</article>
	
		<div class="row" id="row">
		<div class="col-md-4"></div>
		<div class="col-md-4" id="name">
			<h3 id="valami">Állások darabszáma városonként</h3>
		</div>
		<div class="col-md-4"></div>
	</div>
	
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-2" id="table"><h4>Város neve</h4></div>
		<div class="col-md-2" id="table"><h4>DB</h4></div>
		<div class="col-md-4"></div>
	</div>
	
	<article th:each="a1 :${model4}">
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-2" id="table"><h5 th:text="${a1.megnevezes}"></h5></div>
			<div class="col-md-2" id="table"><h5 th:text="${a1.value}"></h5></div>
			<div class="col-md-4"></div>
		</div>
	
	</article>

	<div class="row" id="row">
		<div class="col-md-4"></div>
		<div class="col-md-4" id="name">
			<h3 id="valami">Álláskeresők darabszáma városonként</h3>
		</div>
		<div class="col-md-4"></div>
	</div>
	
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-2" id="table"><h4>Város neve</h4></div>
		<div class="col-md-2" id="table"><h4>DB</h4></div>
		<div class="col-md-4"></div>
	</div>
	
	<article th:each="a1 :${model5}">
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-2" id="table"><h5 th:text="${a1.megnevezes}"></h5></div>
			<div class="col-md-2" id="table"><h5 th:text="${a1.value}"></h5></div>
			<div class="col-md-4"></div>
		</div>
	
	</article>
	
		<div class="row" id="row">
		<div class="col-md-4"></div>
		<div class="col-md-4" id="name">
			<h3 id="valami">Cégek darabszáma városonként</h3>
		</div>
		<div class="col-md-4"></div>
	</div>
	
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-2" id="table"><h4>Város neve</h4></div>
		<div class="col-md-2" id="table"><h4>DB</h4></div>
		<div class="col-md-4"></div>
	</div>
	
	<article th:each="a1 :${model6}">
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-2" id="table"><h5 th:text="${a1.megnevezes}"></h5></div>
			<div class="col-md-2" id="table"><h5 th:text="${a1.value}"></h5></div>
			<div class="col-md-4"></div>
		</div>
	
	</article>
	
		<div class="row" id="row">
		<div class="col-md-4"></div>
		<div class="col-md-4" id="name">
			<h3 id="valami">Álláskeresők darabszáma státuszok szerint</h3>
		</div>
		<div class="col-md-4"></div>
	</div>
	
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-2" id="table"><h4>Státusz neve</h4></div>
		<div class="col-md-2" id="table"><h4>DB</h4></div>
		<div class="col-md-4"></div>
	</div>
	
	<article th:each="a1 :${model7}">
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-2" id="table"><h5 th:text="${a1.megnevezes}"></h5></div>
			<div class="col-md-2" id="table"><h5 th:text="${a1.value}"></h5></div>
			<div class="col-md-4"></div>
		</div>
	
	</article>
	
		<div class="row" id="row">
		<div class="col-md-4"></div>
		<div class="col-md-4" id="name">
			<h3 id="valami">Állásjelentkezések darabszáma állapotok szerint</h3>
		</div>
		<div class="col-md-4"></div>
	</div>
	
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-2" id="table"><h4>Állapot neve</h4></div>
		<div class="col-md-2" id="table"><h4>DB</h4></div>
		<div class="col-md-4"></div>
	</div>
	
	<article th:each="a1 :${model8}">
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-2" id="table"><h5 th:text="${a1.megnevezes}"></h5></div>
			<div class="col-md-2" id="table"><h5 th:text="${a1.value}"></h5></div>
			<div class="col-md-4"></div>
		</div>
	
	</article>

</body>
</html>